@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root{
    --font-padrão01: "Bebas Neue", sans-serif;
    --font-padrão02: "Sriracha", cursive;
}

body{
    background: white;
    margin: 0px;
}

header{
    background-color: black;
    padding-top: 1px;
    text-align: center;
    font-weight: auto;
}

h1{
    color: white;
    font-family: var(--font-padrão01);
    font-size:6em;
    font-weight: bolder;
    margin: 0px;
    padding-top: 40px;
}

h2{
    color: white;
    margin-top: -15px;
    padding-bottom: 40px;
    font-size: 1.5em;
}

a{
    color: white;
    text-decoration: none;
    
}
a:hover{
    color: rgb(197, 130, 6);
}

/* Alterações nos campos das divs */

p{
    font-family: var(--font-padrão02);
}

div#campo01{
     margin: 10px 10px;
     height: 400px;
     width: 300px;
     
}
p#p01{
    padding-left: 30px;
    font-size: 1.64em;
}

div#campo02{
    background: green url(imagens/background001.jpg) center center fixed;
    background-size: cover;
    padding-top: 30px;
    height: 500px;
    width: 100%;
    box-shadow: inset 0px 1px 20px 1px black;
    
}

p#p02{
    font-size: 1.64em;
    background-color: rgba(0, 0, 0, 0.192);
    color: white;
    width: 300px;
    border-radius: 5px;
    padding-left: 30px;
    
}

div#campo03{
     margin: 10px 10px;
     height: 800px;
     width: 300px;
}
p#p03{
     padding-left: 30px;
     font-size: 1.64em;
}

div#campo04{
    background: green url(imagens/background002.jpg) center center fixed;
    padding-top: 30px;
    background-size: cover;
    height: 500px;
    width: 100%;
    box-shadow: inset 0px 1px 20px 1px black;
}

p#p04{
     font-size: 1.64em;
    background-color: rgba(0, 0, 0, 0.555);
    color: white;
    width: 300px;
    border-radius: 5px;
    padding-left: 30px;
}

div.campo05{
     padding-bottom: 20px;
     margin: 10px 10px;
     height: 800px;
     width: 300px;
}

p#p05{
    padding-left: 30px;
    font-size: 1.64em;
}

footer{
    background-color: black;
    padding: 1px 1px 7px 5px;
    margin-top: 20px;
    text-align: center;
}
h3{
    color: white;
    font-family: var(--font-padrão01);
    font-weight: lighter;
    font-size: 1.3em;
}